name: web-ci

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install deps
        run: npm ci --legacy-peer-deps
        working-directory: ./ask-data-web

      - name: Run tests
        run: npm test -- --watch=false --browsers=ChromeHeadless
        working-directory: ./ask-data-web

      - name: Build
        run: npm run build -- --configuration=production
        working-directory: ./ask-data-web
